<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Tutte le Prenotazioni</title>
    <link rel="stylesheet" href="/static/css/styles.css"> <!-- Collegamento al foglio css-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- Incluzione della libreria SweetAlert2 per le finestre di dialogo -->
</head>
<body>
    <header>
        <h1>Gestione prenotazioni</h1>
        <a href="/logout">Esci</a> <!-- Link per effettuare il logout -->
    </header>
    <main>
         <div class="reservation-container">
            {% if reservations %} <!-- Controlla se ci sono prenotazioni da mostrare -->
                {% for r in reservations %} <!-- Inizio del ciclo for: itera su ogni prenotazione -->
                    <div class="reservation">
                        <p><strong>Nome:</strong> {{ r.name }}</p>
                        <p><strong>Email:</strong> {{ r.email }}</p>
                        <p><strong>Telefono:</strong> {{ r.phone }}</p>
                        <p><strong>Data:</strong> {{ r.date }}</p>
                        <p><strong>Ora:</strong> {{ r.time }}</p>
                        <p><strong>Ospiti:</strong> {{ r.guests }}</p>
                        <button class="cancel-btn" data-id="{{ r.id }}">Cancella</button> <!-- Pulsante per cancellare la prenotazione -->
                    </div>
                {% endfor %}
            {% else %} <!-- Se mnon ci sono prenotazioni compare un messaggio-->
                <p>Non ci sono prenotazioni attive.</p>
            {% endif %}
        </div>
    </main>
    <script src="/static/js/reservations.js"></script> <!-- Collegamento al file JS che gestisce la cancellazione-->

<!-- Sezione con bottone per tornare alla home-->
<div style="text-align: center; margin-top: 30px;">
    <a href="{{ url_for('home') }}"> <!-- Link per tornare alla pagina iniziale -->
        <button style="
            padding: 10px 20px;
            font-size: 16px;
            background-color: #333;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        ">
            Torna alla Home
        </button>
    </a>
</div>


</body>
</html>

