
<!DOCTYPE html>
<html lang="it">
<head>

    <!-- Impostazione di base del documento htlm -->
    <meta charset="UTF-8">

    <!-- Imposto la pagina in modo che si adatti in base allo schermo del dispositivo -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Titolo della pagina -->
    <title>Accedi alle Prenotazioni | La Buona Tavola</title>

    <!-- Collegamento al foglio di stile principale-->
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <!-- Libreria alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</head>
<body class="login-page">
    
    <header>
        <div class="logo">
            <h1>La Buona Tavola</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>

    <div class="login-container">
        <h2>Accedi alle Prenotazioni</h2>
        {% if error %} <!-- Blocco condizionale per visualizzare eventuali errori -->
            <div class="error">{{ error }}</div> <!-- Visualizzazione del messaggio di errore -->
        {% endif %}
        <form method="POST" action="{{ url_for('login') }}">
            <input type="text" name="email_or_phone" placeholder="Email o Telefono" required>
            <button type="submit">Accedi</button>
        </form>
    </div>

</body>
</html>

