
<!DOCTYPE html>
<html lang="it">
<head>

    <!-- Impostazione di base del documento htlm -->
    <meta charset="UTF-8">

    <!-- Imposto la pagina in modo che si adatti in base allo schermo del dispositivo -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Titolo della pagina -->
    <title>Le mie Prenotazioni</title>

    <!-- Collegamento al foglio di stile principale -->
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- Libreria per alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <header>
        <h1>Le mie prenotazioni future</h1>
        <a href="/logout">Esci</a> <!-- Link per il logout -->
    </header>
    <main>
         <div class="reservation-container">
            {% if reservations %} <!-- Controllo se ci sono prenotazioni -->
                {% for r in reservations %} <!-- Loop attraverso le prenotazioni -->
                    <div class="reservation">
                        <p><strong>Nome:</strong> {{ r.name }}</p>
                        <p><strong>Email:</strong> {{ r.email }}</p>
                        <p><strong>Telefono:</strong> {{ r.phone }}</p>
                        <p><strong>Data:</strong> {{ r.date }}</p>
                        <p><strong>Ora:</strong> {{ r.time }}</p>
                        <p><strong>Ospiti:</strong> {{ r.guests }}</p>
                        
                        <button class="edit-btn"
                                data-id="{{ r.id }}"
                                data-name="{{ r.name }}"
                                data-phone="{{ r.phone }}"
                                data-date="{{ r.date }}"
                                data-time="{{ r.time }}"
                                data-guests="{{ r.guests }}">Modifica</button> <!-- Pulsante per modificare la prenotazione-->

                        <button class="cancel-btn" data-id="{{ r.id }}">Cancella</button> <!-- Pulsante per cancellare la prenotazione -->
                        
                    </div>
                {% endfor %}
            {% else %}
                <p>Non hai prenotazioni future.</p>
            {% endif %}
        </div>
    </main>
    <script src="/static/js/reservations.js"></script> <!-- Script per la gestione delle prenotazioni -->


<!-- Pulsante per tornare alla home -->
<div class="home-button-container">
    <a href="{{ url_for('home') }}" class="btn btn-dark btn-home">
        Torna alla Home
    </a>
</div>


</body>
</html>

